anovelmous-grammar==0.2.1
blinker==1.4
certifi==2015.4.28
dj-database-url==0.3.0
Django==1.8.5
django-cors-headers==1.1.0
django-filter==0.11.0
django-graphiql==0.3.1.8
django-rest-swagger==0.3.2
djangorestframework==3.2.3
djangorestframework-filters==0.4.0
drf-extensions==0.2.7
drf-nested-routers==0.9.0
graphene==0.4.2
graphql-core==0.4.9
graphql-django-view==1.0.1
graphql-relay==0.3.3
gunicorn==19.1.1
Logentries==0.7
Markdown==2.6.2
nltk==3.1
psycopg2==2.5.4
py==1.4.30
pytest-django==2.8.0
PyYAML==3.11
requests==2.7.0
singledispatch==3.4.0.3
six==1.10.0
whitenoise==1.0.6
